@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 17%;
    --foreground: 0 0% 100%;

    --card: 0 0% 20%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 100%;

    --primary: 358 62% 47%;
    --primary-foreground: 0 0% 100%;

    --primary-dark: 355 97% 25%;

    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 75%;

    --accent: 358 62% 47%;
    --accent-foreground: 0 0% 100%;

    --destructive: 358 62% 47%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 30%;
    --input: 0 0% 25%;
    --ring: 358 62% 47%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  /* Dark mode não é necessário para este projeto */
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
